@import 'variables.scss';

.button {
    position: relative;
    background: $color-black;
    border-radius: 16px;
    height: 45px;
    width: 231px;
    font-size: 20px;
    color: $color-white;
    border: 0px;
    margin-top: 5px;
    cursor: pointer;

    &:hover {
        background: $color-purple;
    }

    &-oval {
        @extend .button;
        width: 22vw;
        border-radius: 40px;

        &-vk {
            @extend .button-oval;
            background: $color-blue;
        }

        &-telegram {
            @extend .button-oval;
            background: $color-blue-telegram;
        }

        &-tiktok {
            @extend .button-oval;
            border: 1px solid $color-blue;
        }
    }

    &-circle {
        @extend .button;
        height: 40px;
        width: 40px;
        border-radius: 40px;

        &-vk {
            @extend .button-circle;
            background: $color-blue;
        }

        &-telegram {
            @extend .button-circle;
            background: $color-blue-telegram;
        }

        &img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.button-light {
    background: $color-white;
    border-radius: 20px;
    width: auto;
    height: auto;
    font-size: 20px;
    color: $color-black;
    margin-top: 5px;
    cursor: pointer;
    border: 0px;
    padding: 5px 15px 5px 15px;

    img {
        width: 20px;
    }

    span {
        vertical-align: top;
    }

    &:hover {
        background: $color-purple;
    }

    &-quiz {
        @extend .button-light;

        border: 1px solid $color-black;

    }
}