@import 'variables.scss';

.quiz {
    display: flex;
    margin-top: 5%;

}

.quiz__section {
    width: 60vw;
    background: $color-white;
    border-radius: 25px;
    padding: 0 20px 20px 20px;
    box-shadow:
    0 -20px 0 -14px $color-light-purple2,
    0 -30px 0 -19px $color-light-purple3;
}

.quiz__section-title {
    font-family: $font-neue-machina-bold;
    font-size: 2em;
}

.quiz__description {
    width: 30vw;
    height: 20vh;
    background: $color-black;
    border-radius: 20px;
    color: $color-white;
    padding: 5px 5px 5px 15px;
    text-align: left;
}